
@import "bootstrap-sprockets";
@import "bootstrap";

 
.status {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.status p {
	margin: 4px 0;
}

.status.hover {
	background: #FAFAFA;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}
